
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 header > img {
  width: 40px;
}
hr{
  margin-top: 20px;
  border: none;
  height: 1px;
  background-color: #444;
  width: 80%;
  margin-left: 60px;
  margin-bottom: 20px;
}

header{
  display: flex;
  justify-content:start;
  align-items: center;
  justify-items: center;
  background-color: #1b1b1b;
  color: rgb(49, 192, 205);
  padding: 10px;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 75%;
  margin-left: 60px;
  height: 60px;
  gap: 10px;
}
main{
  margin-top: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main .intro{
  text-align: center;
  padding-bottom: 30px;
}
main .intro img{
  width:70%;
  height: 70%;
  border-radius: 10px;
  cursor: zoom-in;
}
main .intro h3{
  color: rgb(194, 105, 22);
  font-weight: normal;
  margin-bottom: 10px;
}
main .buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  height: 40px;
}
main .buttons .email-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  width: 150px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}
main .buttons .email-button svg{
  width: 40px;
  height: 30px;
  margin-left: -10px;
}

main .buttons .linkedin-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgb(49, 192, 205);
  color: white;
  border: none;
  border-radius: 5px;
  width: 150px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}
main .buttons .linkedin-button svg{
  width: 40px;
  height: 30px;
  margin-left: -10px;
}
main .about{
  margin-top: 30px;
  padding: 0 20px;
  line-height: 1.6;
  margin-left: 70px;
  width: 70%;
}
.disc{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 20px;
}